{% extends "base.html" %}
{% block content %}
<!--create.html-->
    <h1>New Book</h1>
    {% if errors %}
    <ul>
        {% for error in errors %}
        <li{% if error.tags %} class="{{ error.tags }}" {% endif %}>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="create_book"  id="create_book" value="Create Book">
    </form>

    <br>

    <a href="{% url 'index' %}">Back</a>
{% endblock %}